* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
}

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.aku {
    text-transform: uppercase;
    display: block;
    align-content: center;
    position: relative;
    animation: text 3s 1;
}

.itu {
    font-family: 'Long Cang', cursive;
    text-transform: uppercase;
    display: block;
}

.aku1 {
    font-family: 'Poppins', sans-serif;
}

.itu1 {
    font-family: 'Long Cang', cursive;
    text-transform: uppercase;
    display: block;
}

.aku2 {
    font-family: 'Poppins', sans-serif;
}

.itu2 {
    font-family: 'Long Cang', cursive;
    text-transform: uppercase;
    display: block;
}

.span {
    color: maroon;
}

.section {
    position: relative;
    text-align: center;
    padding: 0 3rem;
    overflow: hidden;
}

.section-dark {
    background-color: black;
    color: lightgray;
}

.section-dark .row {
    display: flex;
    flex-wrap: wrap;
}

.section-dark .side {
    flex: 50%;
    font-family: 'Poppins', sans-serif;
    table-layout: auto;
    background-color: lightgray;
    padding: 20px;
    color: maroon;
    text-align: center;
}

.section-dark .main {
    flex: 50%;
    font-family: 'Poppins', sans-serif;
    background-color: lightgray;
    padding: 20px;
    color: maroon;
    text-align: center;
}

.fakeimg img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.section-light .side {
    flex: 50%;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    padding: 20px;
    color: maroon;
    text-align: center;
}

.section-light .side h1 {
    font-family: 'Poppins', sans-serif;
}

.section-light .side h3 {
    font-family: 'Long Cang', cursive;
}

ul li {
    list-style: none;
}


.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.container1 {
    display: flex;
    position: relative;
    width: 350px;
    height: 230px;
    margin: 120px auto;
    background: transparent;
}

.container1 .box1 {
    display: flex;
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: white;
    box-sizing: border-box;
    float: left;
    margin: 15px;
    overflow: hidden;
    border-radius: 10px;
}

.container1 .box1 .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: plum;
    transition: 0.5s;
    z-index: 1;
}

.container1 .box1:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container1 .box1 .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: white;
}

.container1 .box1:hover .icon .fa {
    font-size: 40px;
}

.container1 .box1 .content1 {
    position: absolute;
    height: calc(100% - 100px);
    top: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}

.container1 .box1:hover .content1 {
    top: 100px;
    opacity: 1;

}

.container1 .box1 .content1 h3 {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 24px;
}

.ptext .border {
    background-color: #111;
    color: #fff;
}

.ptext .border .trans {
    background-color: transparent;
}

.pimg1 {
    background-image: url('img1.jpg');
    min-height: 100%;
}

.pimg2 {
    background-image: url('img2.jpg');
    min-height: 78%;
}

.pimg3 {
    background-image: url('img3.jpg');
    min-height: 78%;
}

@media screen and (max-width:700px) {

    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }

    .row {
        flex-direction: column;
    }

    .container1 .box1 {
        flex-direction: column;
    }
}


@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }

    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}